.eventi-container {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.dateTime-container {
    align-items: center;
}

.date {
    font-weight: bold;
    font-size: 30px;
    color: #333;
}

.time {
    font-size: 30px;
    color: #333;
}
