.professionist {
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 16px;
    text: bold;
}

.professionist-carousel {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* oppure wrap se vuoi andare a capo */
    overflow-x: auto; /* opzionale, utile se hai tante card */
    gap: 1rem; /* spazio tra i carousels */
    padding: 1rem;
}

.professionist-item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.professionist-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.professionist-photo:hover {
    transform: scale(1.1);
}

.professionist-name {
    margin-top: 4px;
    font-weight: bold;
}

.professionist-profession {
    font-weight: normal;
}

.professionist-details {
    padding: 16px;
    border: 1px solid #ccc;
    margin-top: 16px;
}
