@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("./css/navbar.css");
@import url("./css/info.css");
@import url("./css/activityCard.css");
@import url("./css/footer.css");
@import url("./css/eventi.css");
@import url("./css/todaysDate.css");
@import url("./css/DCnavbar.css");
@import url("./css/DCinfo.css");
@import url("./css/DCprofessionists.css");
body {
    font-family: "Poppins", sans-serif; /* Usa il font Poppins */
    background-color: #f8f9fa; /* Colore di sfondo della pagina */
    color: #333; /* Colore del testo principale */
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;

    --mnm-green: #c0d856; /* Verde preso dal logo */
    --mnm-green-dark: #a3bf44; /* Variante più scura per hover */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.copyButton {
    color: white;

    background: linear-gradient(
        135deg,
        var(--mnm-green) 0%,
        var(--mnm-green-dark) 100%
    );
    color: white;
    font-size: 13px;
    margin-top: 13px;
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    border: none;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.copyButton:hover {
    color: white;
    transform: scale(1.05);
}
